<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Mi Perfil de Usuario</h4>
        <h6 class="card-subtitle">Ajustes</h6>
        <form
          [formGroup]="perfilForm"
          (ngSubmit)="actualizarPerfil()"
          class="form p-t-20"
        >
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                formControlName="nombre"
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Nombre de Usuario"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                formControlName="email"
                [readOnly]="usuario.google"
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Email"
              />
            </div>
          </div>

          <button
            [disabled]="perfilForm.invalid"
            type="submit"
            class="btn btn-success btn-block waves-effect waves-light m-r-10"
          >
            <i class="fa fa-save"></i>
            Guardar cambios
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen de Usuario</h6>

        <div class="img-container text-center mb-3 mt-3">
          <img *ngIf="!imgTemp" [src]="usuario.imagenURL" class="img-avatar" />
          <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" />
        </div>

        <input (change)="cambiarImagen($event.target.files[0])" type="file" />
        <br />
        <br />
        <br />
        <button
          [disabled]="!imagenSubir"
          (click)="subirImagen()"
          type="button"
          class="btn btn-success btn-block waves-effect waves-light m-r-10"
        >
          <i class="fa fa-save"></i>
          Guardar imagen
        </button>
      </div>
    </div>
  </div>
</div>
