<div
  [class.oculto]="_modalImagenService.ocultarModal"
  class="fondo-modal-imagen animated fadeIn fast"
>
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Cargar Imagen</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span (click)="cerrarModal()" aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Selecciona una imagen</h3>
          <div class="img-container text-center mb-3 mt-3">
            <img
              *ngIf="!imgTemp"
              [src]="_modalImagenService.img"
              class="img-avatar"
            />
            <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar" />

            <input
              (change)="cambiarImagen($event.target.files[0])"
              type="file"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            (click)="cerrarModal()"
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
          >
            Cancelar
          </button>
          <button (click)="subirImagen()" type="button" class="btn btn-primary">
            Actualizar Foto
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
